.button {
  border: 1.5px solid white;
  border-radius: 4px;
  padding: 8px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;

  &__contained {
    background-color: #f97316;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
  }
}
