.main {
  padding: 4rem;
  min-height: 100vh;
  background: #f8fafc;
  display: flex;

  &__left {
    width: 35%;
    padding-right: 20px;

    &__system {
      margin-bottom: 30px;
      h3 {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 22px;
      }

      p {
        margin-bottom: 30px;
        color: #64748b;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }

  &__right {
    width: 65%;
    padding-left: 20px;
  }
}
